[Desktop Entry]
Name=MyBreeze
Comment=Rounded transparent theme for plasma

X-KDE-PluginInfo-Author=Nikita
X-KDE-PluginInfo-Category=Plasma Theme
X-KDE-PluginInfo-Email=pesnovnikita@yandex.ru
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL 3
X-KDE-PluginInfo-Name=MyBreeze
X-KDE-PluginInfo-Version=5.78.0
X-Plasma-API=5.0

[Wallpaper]
defaultWallpaperTheme=MyBreeze
defaultFileSuffix=.png
defaultWidth=3840
defaultHeight=2160

[ContrastEffect]
enabled=false
contrast=0.2
intensity=1.4
saturation=1

[AdaptiveTransparency]
enabled=true
